*{
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.input-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputs{
    width: 60%;
    height: auto;
    margin-top: 4rem;
}